  <!-- the code editor -->
  <div class="row mb-4">
    <div class="col">
        <div class="code-editor" #codeEditor></div>
    </div>
</div>

<!-- TEST -->
<div class="row mb-4 justify-content-center mx-4">
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
        <button type="button" class="btn btn-dark btn-sm btn-block px-4 mx-2" (click)="emitCode()">
            Run
        </button>
    </div>
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
        <button type="button" class="btn btn-primary btn-sm btn-block px-4 mx-2" (click)="clearCode()">
            Reset
        </button>
    </div>
</div>
